@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #80808080;
  border-radius: 15px;
}
body {
  margin: 0px;
  color: #262626;
  background: #f9f9f9;
  min-height: 100vh;
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1568px] px-[20px] md:px-[64px];
  }
  .button-active-darker {
    @apply duration-[350ms]  ease-in-out hover:bg-[#f9b020] focus:bg-[#f9b020];
  }
  .button-active-lighter {
    @apply duration-[350ms]  ease-in-out hover:bg-[#fbe7c1] focus:bg-[#fbe7c1];
  }
  .custom-transition {
    @apply duration-[350ms]  ease-in-out;
  }
}
