@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    margin: 0 auto;
    max-width: 375px;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
      max-width: 1200px;
      padding: 0 32px;
    }

    @media screen and (min-width: 1400px) {
      max-width: 1702px;
    }
  }
}
